<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PDF recipet</title>
</head>
<body>
  <div class="wrapper" style="width:300px;margin:0px auto,background-color:red">
    <h2>Recipt</h2>  
  </div>
</body>
</html>