<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PDF recipet</title>
  <style type="text/css">
  .invoice{
    width:500px;
    margin:0px auto;
  }
  .heading{
    width:300px;
    margin:0px auto;
  }
  .content p{
    margin:0px auto;
  }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="heading"><h1>Invoice</h1></div>
    <hr/>
    <div class="content">
       <table class="invoice">
         <tr>
           <td>Item</td>
           <td>price</td>
           <td>total price</td>
         </tr>
         <tr>
           <td>wine</td>
           <td>200</td>
           <td>225</td>
         </tr>

         <tr>
           <td>wine</td>
           <td>200</td>
           <td>225</td>
         </tr>

         <tr>
           <td>wine</td>
           <td>200</td>
           <td>225</td>
         </tr>

         <tr>
           <td>wine</td>
           <td>200</td>
           <td>225</td>
         </tr>
       </table>
       <hr/>
       <h2>Total ammount : 2000INR</h3>
    </div>
  </div>
</body>
</html>