<div class="row">
  <div class="col-lg-4">
    <h1>All Appointments</h1>
  </div> 

  <div class="col-lg-6"></div>

  <div class="col-lg-2">
    <%= link_to 'Add Appointment', new_admin_appointment_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'table' %>
  </div>
</div>

</div>

<div class="row form-wrapper" style="width:400px;margin:0px auto">

  <%= form_for @appointment, url:{action:'create'}, remote:true do |f|%>
    <%= render 'form', :f=>f%>
  <% end %>

</div>