<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @reciptent.firstname %></h1>
    <p>
      welcome on board ! we are prepared to serve you ...
    </p>
  </body>
</html>
