<div class="row">
  <div class="col-sm-12"><h1>Appointment Charges policies</h1></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="center">
      <%= form_for @physician, url:{action:'update'} do |f|%>
        <%= render 'form', :f=>f%>
      <% end %>
    </div>
  </div>
</div>