<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    Area Chart Example</div>
  <div class="card-body">
  <!--%= pie_chart({"Football" => 10, "Basketball" => 5}) %-->
  <!--%= line_chart({
    'Jan':10000,
    'Feb':28743,
    'Mar':59000,
    'Apr':3405,
    'May':83485,
    'June':46234,
    'July':5485,
    'Aug':84954,
    'Sep':64854,
    'Oct':93843,
    'Nov':22445,
    'Dec':45440
  }) %-->
  <%= line_chart Sample.group(:month).sum(:amount) %>
  <%= column_chart Appointment.group(:appointment_date).count %>

  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
