        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" width="100%" cellspacing="0" id="admintable">
                <thead>
                  <tr>
                    <th>User ID</th>
                    <th>Physician Name</th>
                    <th>Rate</th>
                    <th>Appointment Count</th>
                    <th>Revenue</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>User ID</th>
                    <th>Physician Name</th>
                    <th>Rate</th>
                    <th>Appointment Count</th>
                    <th>Revenue</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td> 100$</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
