<div class="container">
<div class="jumbotron jumbotron-fluid">
<div class="container">
  <h1>Welcome to Hospital management system</h1>
  <p>kindly login to access functianlites...</p>

  <button type="button" class="btn btn-lg btn-outline-primary"><%= link_to 'login' , new_user_session_path%></a>
</div>
</div>
</div>