<h2>List of Administrators 
  <span class="badge badge-pill badge-info"><%= @users.is_admin.count %></span>
</h2>
<% @users = @admins %>
<%= render 'table' %>
<div class="paginationbox">
  <%= paginate @users,param_name: :admin_tab, theme: 'twitter-bootstrap-4' %>
</div>