<table id="foo" >
  <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>          
      <th>Email</th>
      <th>Civil ID</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>foo</td>
    <td>foo@gmail.com</td>
    <td>12345879098</td>
    <td>india</td>
  </tr>

  <tr>
    <td>2</td>
    <td>bar</td>
    <td>bar@email.com</td>
    <td>24536345345</td>
    <td>US</td>
  </tr>
  </tbody>
</table>