<table id="users" class="table table-hover" data-source="<%= admin_get_dataset_url(format: "json") %>">
  <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>          
      <th>Email</th>
      <th>Civil ID</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>