<h2>List of Doctors 
  <span class="badge badge-pill badge-info"><%= User.by_role(:physician).count %></span>
</h2>
<% @users = @physicians %>
<%= render 'table' %>
<div class="paginationbox">
  <%= paginate @physicians, param_name: :physician_tab, theme: 'twitter-bootstrap-4' %>
</div>