<h2>List of Patients
  <span class="badge badge-pill badge-info"><%= User.is_patients.count %></span>
</h2>
<% @users = @patients %>
<%= render 'table' %>
<div class="paginationbox">
  <%= paginate @users, param_name: :patient_tab, theme: 'twitter-bootstrap-4' %>
</div>