<div class="form-wrapper" style="width:400px;margin:0px auto">
  <h2>Register new user </h2>
  <% if @form_errors.present? %>
    <% form_errors_for @form_errors %>
  <%end%>
  <%= form_for @user , url: {action:'create'} do |f|%>
    <%= render 'form', :f=>f %>
    <div class="form-group">
      <%= f.submit "register", class:"form-control btn btn-primary" %>    
    </div>
  <% end %>
</div>

